body{
    padding: 100px;
}
.login-aria{
    margin-top: 50px;
    box-shadow: 4px 4px 8px gray;
    padding: 50px;
    border-radius: 10px;
}
#transactionAria{
    display: none;
}
.status{
    margin: 30px;
    padding: 30px;
    border-radius: 10px;   
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: #EBA592;
}
.balance{
    background-color: rgb(247, 150, 24);
}